header{
   display: flex;
   justify-content: center;
}


section{
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 2em;
}

.divCenter{
	text-align: center;
}

.pagination {
    display: inline-block;
    margin-left: -40px;
  }
  .pagination li  {
    float: left;
    padding: 8px 16px;
    list-style: none;
    
  }

  .pagination a {
    text-decoration: none;
  }